.puzzle {
    width: 445px;
}

.puzzleHeader {
    display: flex;
    justify-content: space-between;
}

.reload {
    font-size: 32px;
}

.incorrectStyle {
    background-color: red;
}

.square {
    border: 1px solid;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin-left: -1px;
    margin-top: -1px;
}

.editableSquare {
    font-weight: normal;
}

.editableSquare:hover {
    background-color: papayawhip;
}

.row {
    display: inline-block;
}

.bottomBorder {
    /* margin-top: 1px; */
    border-top: 1px solid;
}

.rightBorder {
    margin-left: 0px;
}

.selectButton {
    margin: 10px 3px;
    width: 40px;
    height: 50px;
}

.selectDisable {
    color: grey;
}

.selected {
    background-color: #009eff;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.selectButton:not(.selectDisable):hover {
    background-color: #00c0ff;
    border-radius: 5px;
    color: white;
}